<link rel="stylesheet" href="/css/site.css" />

<div>
    <h3>@DateTime.Now.ToString("MMMM dd, yyyy")</h3>

    <div class="centered-appointment-section">
        <div class="appointment-section">
            <TheAppointmentsOfTheDay />
        </div>
    </div>

    <div class="finishing-buttons">
        <button class="book-button" @onclick="ShowPatientModal">Squeeze In</button>
        <button class="book-button">Change</button>
        <button class="book-button">Delete</button>
        <button class="book-button">Patient</button>
        <button class="book-button close-button">Close </button>
    </div>
</div>

@* @if (showConfirmAppointmentModal)
{
    <div class="modal-container">
        <div class="modal-background">
            <div class="modal-content">
                 <TheConfirmAppointment OnSaveClicked="HandleSave" OnCancelClicked="HandleCancel" /> 
                <!-- <ThePatient OnSaveClicked="HandleSave" OnCancelClicked="HandleCancel" />  -->
            </div>
        </div>
    </div>
} *@

@if (showPatientModal)
{
    <div class="modal-container">
        <div class="modal-background">
            <div class="modal-content">
                <ThePatientModal OnTopCancelClicked="HidePatientModal" />
            </div>
        </div>
    </div>
}

<style>
    h3 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        color: #333;
        background-color: #f0f0f0;
        padding: 5px;
        border-radius: 5px;
        text-align:center;
        transition: background-color 0.3s, color 0.3s;
    }

    .centered-appointment-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 60px);
    }

    .appointment-section {
        background-color: #f0f0f0;
        width: 30vw;
        height: 67vh;
        overflow-y: auto;
        padding: 10px;
        border-radius: 5px;
    }

    .book-button {
        background-color: #f0f0f0;
        border: none;
        color: #333;
        padding: 10px;
        width: auto;
        height: 37px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
        line-height: 19px;
        transition: background-color 0.3s, color 0.3s;
    }

        .book-button:hover {
            background-color: #666;
            color: #fff;
        }

    .finishing-buttons {
        margin-top: 10px;
    }

    .close-button {
        background-color: #262624; 
        color: white;
        margin-left: 20px;
    }

    .modal-content {
        width: 88%;
        height: 80%;
        margin: 0 auto;
    }
</style>

@code {
    private bool showConfirmAppointmentModal = false; // likely needs to be in ThePatient and ThePatientModal
    private bool showPatientModal = false;

    private void ShowPatientModal()
    {
        showPatientModal = true;
    }

    private void HidePatientModal()
    {
        showPatientModal = false;
    }

    private void HandleSave()
    {
        // Handle the save action here

        showConfirmAppointmentModal = false;
    }

    private void HandleCancel()
    {
        showConfirmAppointmentModal = false;
    }
}