@page "/"
@page "/home"
@page "/index"



<div style="display: flex; justify-content: center;">
    <img src="images/VisionX_logo_1_update.png" class="fade-in-image" style="height: 500px; margin-top:30px;" />
</div>


