@page "/"
@page "/home"
@page "/index"

<h1>
    Welcome back Dr. Christopher Chen!
</h1>

<img src="images/VisionX_logo_1_update.png" class="fade-in-image" style="height: 500px; margin-top:30px;" />

