@using VisionX.Components.Services

<div class="inner-nav">
    <button class="nav-underline" @onclick="ShowMyServices">My Services</button>
    <button class="nav-underline" @onclick="ShowAddService">Add</button>
    <button class="nav-underline" @onclick="ShowModifyService">Modify</button>
</div>

<br />

<div>
    @if (showMyServices)
    {
        <TheMyServices />
    }

    @if (showAddService)
    {
        <TheAdd />
    }

    @if (showModifyService)
    {
        <TheModify />
    }
</div>

@code {
    private bool showMyServices = true;
    private bool showAddService = false;
    private bool showModifyService = false;

    private void ShowMyServices()
    {
        showMyServices = true;
        showAddService = false;
        showModifyService = false;
    }

    private void ShowAddService()
    {
        showMyServices = false;
        showAddService = true;
        showModifyService = false;
    }

    private void ShowModifyService()
    {
        showMyServices = false;
        showAddService = false;
        showModifyService = true;
    }
}
