<!-- TheAdd.razor -->
<div class="service-modal">
    <div class="left-panel">
        <p>ServiceID</p><p>Fee</p><p>ServiceDescription</p>

        <!-- Grey box for displaying services -->
        <div class="service-box">
            <ul>
                <li>GEE1 - $100 - Basic Eye Exam</li>
                <li>CEE1 - $120 - Eye Pressure</li>
                <li>REE1 - $130 - Glaucoma Screening</li>
                <li>CLFU - $140 - Cataract Screening </li>
                <li>VFEE - $150 - Emergency Consultation </li>
            </ul>
        </div>
    </div>

    <div class="empty-space"></div> <!-- Empty space between panels -->

    <div class="right-panel">
 
        <!-- ADD A SERVICE BUTTON -->
        <button class="visionX-button" @onclick="AddAService">Add Service</button>

        <!-- Commented out Test Button -->
        @* <button class="visionX-button">TEST</button> *@

        <button class="visionX-button exit-button" @onclick="HideModal">Exit</button>
    </div>


    @if (addAService)
    {
        <!-- Modal overlay -->
        <div class="modal-overlay">
            <!-- TheInvoice modal component -->
            <TheAddNewService OnSavePaymentClicked="HandleAddAServiceSave" OnExitPaymentClicked="HandleAddAServiceExit" />
        </div>
    }

</div>

<style>
    .service-modal {
        display: flex;
        justify-content: space-between;
        border: 1px solid #fff; 
        background-color: #f5f5f5; 
        padding: 20px; 
    }

    .left-panel {
        width: 65%;
    }

    .right-panel {
        width: 35%;
    }

        .left-panel p, .right-panel h4 {
            display: inline;
            margin: 0;
            padding: 0 10px;
        }

    .empty-space {
        width: 5%; /* Adjust the width as needed */
    }

    .service-box {
        background-color: #ccc;
        padding: 5px;
    }

        .service-box ul {
            list-style-type: none;
        }

        .service-box li {
            margin-bottom: 10px;
        }


    .exit-button {
        margin-top: 20px;
    }
</style>



@code {
    [Parameter] public EventCallback OnExitClicked { get; set; }

    private bool showInvoiceModal; 


    private async Task HideModal()
    {
        // Emit the OnCancelClicked event
        await OnExitClicked.InvokeAsync();
    }

    // =========================================


    <!-- ADD A SERVICE BUTTON OPTION (Corresponds to Take a Payment Button) -->

    private bool addAService = false;

    private void AddAService()
    {
        addAService = true;
    }

    private void HandleAddAServiceExit()
    {
        addAService = false;
    }

    private void HandleAddAServiceSave()
    {
        // Handle the save action here

        addAService = false;
    }

}