@using VisionX.Components.Payments

<div class="inner-nav">
    <button class="nav-underline" @onclick="ShowInvoices">Invoices</button>
    <button class="nav-underline" @onclick="ShowTakePayment">Take Payment</button>
    <button class="nav-underline" @onclick="ShowReceipt">Receipt</button>
</div>

<br />

<div>
    @if (showInvoices)
    {
        <TheInvoices />
    }

    @if (showTakePayment)
    {
        <TheTakePayment />
    }

    @if (showReceipt)
    {
        <TheReceipt />
    }
</div>

@code {
    private bool showInvoices = true;
    private bool showTakePayment = false;
    private bool showReceipt = false;

    private void ShowInvoices()
    {
        showInvoices = true;
        showTakePayment = false;
        showReceipt = false;
    }

    private void ShowTakePayment()
    {
        showInvoices = false;
        showTakePayment = true;
        showReceipt = false;
    }

    private void ShowReceipt()
    {
        showInvoices = false;
        showTakePayment = false;
        showReceipt = true;
    }
}
