@using VisionX.Components.Payments

<div class="inner-nav">
    <button class="nav-underline" @onclick="ShowInvoices">Invoices</button>
@*     <button class="nav-underline" @onclick="ShowTakePayment">Take Payment</button>
    <button class="nav-underline" @onclick="ShowReceipt">Receipt</button> *@
</div>

<br />

<div>
    @if (showInvoices)
    {
        <TheInvoices />
    }

@*     @if (showTakePayment)
    {
        <TheTakePayment />
    }

    @if (showReceipt)
    {
        <TheReceipt />
    } *@
</div>

@code {
    private bool showInvoices = true;


    private void ShowInvoices()
    {
        showInvoices = true;
    }
}
