@using VisionX.Components.Medical

<div class="inner-nav">
    <button class="nav-underline" @onclick="ShowEyeExams">Exams</button>
    <button class="nav-underline" @onclick="ShowPrescriptions">Prescriptions</button>
    <button class="nav-underline" @onclick="ShowWillsManual">Will's Manual</button>
</div>

<br />

<div>
    @if (showEyeExams)
    {
        <TheEyeExams />
    }

    @if (showPrescriptions)
    {
        <ThePrescriptions />
    }

    @if (showWillsManual)
    {
        <TheWillsManual />
    }
</div>

@code {
    private bool showEyeExams = true;
    private bool showPrescriptions = false;
    private bool showWillsManual = false;

    private void ShowEyeExams()
    {
        showEyeExams = true;
        showPrescriptions = false;
        showWillsManual = false;
    }

    private void ShowOcularScans()
    {
        showEyeExams = false;
        showPrescriptions = false;
        showWillsManual = false;
    }

    private void ShowPrescriptions()
    {
        showEyeExams = false;
        showPrescriptions = true;
        showWillsManual = false;
    }

    private void ShowWillsManual()
    {
        showEyeExams = false;
        showPrescriptions = false;
        showWillsManual = true;
    }
}
