<div style="display: flex; width: 100%">
    <!-- Left Side -->
    <div style="width: 35%">
        <label for="search">Search:</label>
        <input type="text" id="search" style="width: 75%" />
        <br /><br />
        <table style="width: 100%">
            <thead>
                <tr>
                    <th>Patient Id</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dummy Patient Data. Please replace with database patients-->
                <tr>
                    <td>1</td>
                    <td>Doe</td>
                    <td>John</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Smith</td>
                    <td>Jane</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Lee</td>
                    <td>Tom</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kim</td>
                    <td>Amy</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Ng</td>
                    <td>Chris</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Jones</td>
                    <td>Mike</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Chan</td>
                    <td>Lisa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Tan</td>
                    <td>Ben</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Wong</td>
                    <td>Anna</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Lin</td>
                    <td>Paul</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Miller</td>
                    <td>Sara</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Brown</td>
                    <td>Mark</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Nguyen</td>
                    <td>Alice</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Patel</td>
                    <td>Raj</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Williams</td>
                    <td>Emily</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Wang</td>
                    <td>Kevin</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Garcia</td>
                    <td>Mia</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Anderson</td>
                    <td>Jake</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Chen</td>
                    <td>Lily</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Johnson</td>
                    <td>Chris</td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- Right Side -->
    <div style="width: 75%">
        <div style="display: flex; align-items: flex-start; margin-bottom: 10px;">
            <label for="examDate">Exam Date:</label> &nbsp;
            <input type="date" id="examDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <label for="chiefComplaint">Chief Complaint:</label>&nbsp;
            <textarea type="text" id="chiefComplaint" rows="6" cols="50"></textarea>
        </div>
        <br />
        <div class="symptoms-div">
            <label for="symptoms">Symptoms:</label>
            <input type="text" id="symptoms" />
        </div>
        <br />
        <div>
            <label for="eyeDrops">Eye Drops:</label>
            <input type="text" id="eyeDrops" />
        </div>
        <br />
        <div>
            <label for="history">History of:</label>
            <div style="display: flex; flex-wrap: wrap;">
                <div style="width: 33%">
                    <input type="checkbox" id="cancer" />
                    <label for="cancer">Cancer</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="cataracts" />
                    <label for="cataracts">Cataracts</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="diabetes" />
                    <label for="diabetes">Diabetes</label>
                </div>
                <!-- Add similar blocks for other conditions -->
                <div style="width: 33%">
                    <input type="checkbox" id="heartProblems" />
                    <label for="heartProblems">Heart Problems</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="hiv" />
                    <label for="hiv">HIV</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="kidneyDisease" />
                    <label for="kidneyDisease">Kidney Disease</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="macularDegeneration" />
                    <label for="macularDegeneration">Macular Degeneration</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="retinalDetachment" />
                    <label for="retinalDetachment">Retinal Detachment</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="stroke" />
                    <label for="stroke">Stroke</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="thyroid" />
                    <label for="thyroid">Thyroid</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="tuberculosis" />
                    <label for="tuberculosis">Tuberculosis</label>
                </div>
                <div style="width: 33%">
                    <input type="checkbox" id="neuromuscularDisease" />
                    <label for="neuromuscularDisease">Neuromuscular Disease</label>
                </div>
            </div>
        </div>
        <br />
        <div>
            <label for="visualAcuity">Uncorrected Visual Acuity:</label>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Sphere</th>
                        <th>Cylinder</th>
                        <th>Axis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OD &nbsp;</td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td>OS &nbsp;</td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <label for="visualAcuity">Corrected Visual Acuity:</label>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Sphere</th>
                        <th>Cylinder</th>
                        <th>Axis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OD &nbsp;</td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td>OS &nbsp;</td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <button @onclick="ShowRetinalImages" class="show-retinal-images-button">Show Ocular Scans</button>
        </div>

        @* @if (showRetinalImages)
        {
            <script>
                window.open(window.location.origin + "/ocular-scans", "_blank");
            </script>
        } *@
    </div>
</div>


<style>
    #examDate {
        margin-right: 20px;
    }

    .symptoms-div {
        margin-top: -15.5vh;
    }

    .show-retinal-images-button {
        float: right;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        background-color: #3498db; 
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-top: -9vh;
        margin-right: 1vh;

    }

        .show-retinal-images-button:hover {
            background-color: #2980b9; 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        }


</style>
@code {
    private bool showRetinalImages = false;
    private void ShowRetinalImages()
    {
        showRetinalImages = true;
    }
}

