@page "/TheWillsManual"

<button class="Ask-ChatGPT-Button" @onclick="ToggleTheChatGPT">Ask AI</button>

@if (showTheChatGPT)
{
    <div class="TheChatGPTModal">
        <TheChatGPT ShowTheChatGPT="ToggleTheChatGPT" />
    </div>
}
<div class="TheManual-Container">
    <TheManual />
</div>



<style>
    .Ask-ChatGPT-Button {
        position: fixed;
        top: 10vh;
        right: 15px;
        background: #19C37D;
        background: #19C37D;
        color: #fff;
        border: none;
        border-radius: 5%;
        padding: 10px 15px;
        transition: background-color 0.5s, box-shadow 0.3s;
    }

        .Ask-ChatGPT-Button:hover {
            background: #19C37D;
            box-shadow: 0 0 10px rgba(170, 233, 207, 0.8);
            color: #fff;
        }

    .TheChatGPTModal {
        position: fixed;
        top: 50px;
        right: 0;
        width: 35vw;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        height: 88vh;
        margin-top: 22px;
        margin-right: 14px;
    }

    .TheManual-Container {
        margin-top: 5vh;
        max-width: 100%;
    }

</style>

@code {

    private bool showTheChatGPT = false;

    private void ToggleTheChatGPT()
    {
        showTheChatGPT = !showTheChatGPT;
    }
}

