@inject VisionX.Services.ServicesService ServicesService
@using VisionX.Models
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject VisionX.Services.ProductService ProductService


<!-- TheAddNewService.razor -->
<div class="payment-modal">
    <div class="left-payment-panel">

        <h4 class="small-text">Manufacturer</h4>
        <input type="text" class="input-field" id="productManufacturer" @bind="SelectedProduct.Manufacturer" />

        <h4 class="small-text">Model Number</h4>
        <input type="text" class="input-field" id="productModelNumber" @bind="SelectedProduct.ModelNumber" />

        <h4 class="small-text">Type</h4>
        <input type="text" class="input-field" id="productType" @bind="SelectedProduct.Type" />

        <h4 class="small-text">Fee</h4>
        <input type="text" class="input-field" id="productFee" @bind="SelectedProduct.Fee" />

        @* <div class="payment-type">
        <h4 class="small-text">Payment Type</h4>
        <select class="input-field">
        <option value="credit">Credit Card</option>
        <option value="cash">Cash</option>
        <!-- Add more payment methods as needed -->
        </select>
        <input type="text" class="input-field small-input" value="0.00" />
        </div>

        <div class="payment-type">
        <h4 class="small-text">2nd Payment Type</h4>
        <select class="input-field">
        <option value="credit">Credit Card</option>
        <option value="cash">Cash</option>
        <!-- Add more payment methods as needed -->
        </select>
        <input type="text" class="input-field small-input" value="0.00" />
        </div>*@
    </div>

    <div class="right-payment-panel">
        <div class="black-box">
            <div class="payment-summary">
                <h3>Add New Service Summary</h3>
            </div>
            <div class="summary-details">
                <div class="left-column">
                    <p>Manufacturer:</p>
                    <p>Model Number:</p>
                    <p>Type:</p>
                    <p>Fee:</p>
                </div>
                <div class="right-column">
                    <p>@SelectedProduct.Manufacturer</p>
                    <p>@SelectedProduct.ModelNumber</p>
                    <p>@SelectedProduct.Type</p>
                    <p>@SelectedProduct.Fee</p>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="visionX-button payment-save-button" @onclick="SaveProduct">Save</button>
            <button class="visionX-button payment-exit-button" @onclick="HidePaymentModal">Exit</button>
        </div>
    </div>
</div>

<style>
    .payment-modal {
        display: flex;
        background-color: #ddd;
        color: #000;
    }

    .left-payment-panel {
        width: 47%;
        padding: 20px;
    }

    .right-payment-panel {
        width: 53%;
        padding: 20px;
    }

    .black-box {
        background-color: #000;
        color: #fff;
        min-width: 200px;
        min-height: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .small-text {
        font-size: 12px;
    }

    .input-field {
        width: 250px;
        padding: 5px;
        margin-top: 5px;
    }

    select.input-field {
        width: 250px;
        padding: 5px;
        margin-top: 5px;
    }

    .small-input {
        width: 80px;
        height: 30px;
        text-align: right;
    }

    .red-text {
        color: red;
    }

    .payment-summary {
        text-align: center;
        margin: 10px;
    }

    .summary-details {
        display: flex;
        justify-content: space-between;
        margin: 25px;
        gap: 125px;
    }

    .left-column,
    .right-column {
        width: 35%;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
    }

    .payment-save-button {
        margin-right: 10px;
        /* Add some spacing between the buttons */
    }
</style>

@code {
    [Parameter] public EventCallback OnExitPaymentClicked { get; set; }
    [Parameter] public EventCallback OnSavePaymentClicked { get; set; }

    [Parameter]
    public VisionX.Models.Product SelectedProduct { get; set; }
    private bool showPaymentModal;

    private ElementReference serviceIdInput;
    private ElementReference serviceFeeInput;
    private ElementReference serviceDescriptionInput;


    private async Task HidePaymentModal()
    {
        //Emit the OnCancelClicked event
        await OnExitPaymentClicked.InvokeAsync();
    }


    private async Task SaveProduct()
    {
        string prodMan = await JSRuntime.InvokeAsync<string>("eval", "document.getElementById('productManufacturer').value");
        string prodModelNum = await JSRuntime.InvokeAsync<string>("eval",
        "document.getElementById('productModelNumber').value");
        string prodType = await JSRuntime.InvokeAsync<string>("eval",
        "document.getElementById('productType').value");
        string prodFee = await JSRuntime.InvokeAsync<string>("eval",
        "document.getElementById('productFee').value");

        Product newProduct = new Product
            {
                Manufacturer = prodMan,
                Type = prodType,
                ModelNumber = prodModelNum,
                Fee = Convert.ToInt32(prodFee)
            };

        ProductService.UpdateProduct(SelectedProduct.ID, newProduct);
        await OnSavePaymentClicked.InvokeAsync();
    }
}